html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 1.17333rem;
  background: #00C3B1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.26667rem;
  box-sizing: border-box;
}

header div:nth-child(1) {
  color: #fff;
  font-size: 0.4rem;
}

header div:nth-child(2) {
  border-radius: 0.08rem;
  background: #00A797;
  width: 70%;
  height: 60%;
  display: flex;
  align-items: center;
  padding: 0 0.26667rem;
  box-sizing: border-box;
}

header div:nth-child(2) i {
  font-size: 0.32rem;
  color: #fff;
}

header div:nth-child(2) input {
  width: 100%;
  height: 100%;
  padding: 0 0.26667rem;
  color: #01D1C6;
}

header div:nth-child(3) p {
  color: #fff;
}

header div:nth-child(3) p:nth-child(1) {
  margin-left: 0.13333rem;
}

header div:nth-child(3) p:nth-child(1) i {
  font-size: 0.4rem;
}

section {
  flex: 1;
  overflow: hidden;
}

section .box {
  width: 100%;
  position: relative;
}

section .logo {
  margin-bottom: 0.13333rem;
  width: 100%;
  height: 4rem;
  position: relative;
  border: 1px solid #F1EFEA;
}

section .logo img {
  width: 100%;
  height: 100%;
}

section .logo .left,
section .logo .right {
  position: absolute;
  bottom: 0.53333rem;
  width: 2.66667rem;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.34667rem;
  border-radius: 0.4rem;
}

section .logo .left {
  left: 1.86667rem;
  border: 1px solid #65E6E0;
  color: #01C6B4;
}

section .logo .right {
  right: 1.86667rem;
  border: 1px solid #65E6E0;
  background: #00C3B9;
  color: #fff;
}

section .swiper-container {
  width: 100%;
  height: 4.8rem;
  position: relative;
}

section .swiper-container .nav {
  position: absolute;
  width: 1.06667rem;
  height: 0.26667rem;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  bottom: 20px;
  left: 50%;
  margin-left: -0.53333rem;
}

section .swiper-container .nav li {
  width: 0.26667rem;
  height: 0.26667rem;
  background: #F1F1EF;
  border-radius: 50%;
}

section .swiper-container .nav .active {
  background: #00C3B1;
}

section .swiper-wrapper {
  width: 100%;
  height: 4.8rem;
}

section .swiper-wrapper .swiper-slide {
  display: flex;
  flex-wrap: wrap;
}

section .swiper-wrapper .swiper-slide dl {
  width: 20%;
  height: auto;
  text-align: center;
  margin-top: 0.13333rem;
}

section .swiper-wrapper .swiper-slide dl dt {
  width: 100%;
  height: 50%;
}

section .swiper-wrapper .swiper-slide dl dt img {
  width: 1.06667rem;
  height: 1.06667rem;
}

section .swiper-wrapper .swiper-slide dl dd {
  font-size: 0.37333rem;
}

.xian {
  width: 100%;
  height: 0.26667rem;
  border-top: 0.5px solid #ccc;
  border-bottom: 0.5px solid #ccc;
  background: #F1F1EF;
}

.cai {
  width: 98%;
  height: 1.12rem;
  margin-left: 2%;
  border-bottom: 0.5px solid #ccc;
  font-size: 0.42667rem;
  line-height: 1.12rem;
}

.quanju {
  width: 98%;
  height: 2.66667rem;
  margin-left: 2%;
  border-bottom: 0.5px solid #ccc;
  display: flex;
  align-items: center;
}

.quanju .chil {
  width: 100%;
  height: 2.18667rem;
  display: flex;
}

.quanju .chil img {
  height: 2.18667rem;
  width: 2.4rem;
  margin-right: 0.26667rem;
}

.quanju .chil .dev {
  flex: 1;
}

.quanju .chil .dev > span {
  font-size: 0.4rem;
  color: #666666;
}

.quanju .chil .dev p:nth-of-type(1) {
  margin-top: 0.13333rem;
  color: #666666;
}

.quanju .chil .dev p:nth-of-type(2) {
  margin-top: 0.4rem;
  color: #666666;
}

.quanju .chil .dev p:nth-of-type(2) span:nth-of-type(1) {
  font-size: 0.4rem;
  color: #BBF0ED;
}

.quanju .chil .dev p:nth-of-type(2) i {
  color: #BBF0ED;
}

.quanju .chil .dev p:nth-of-type(2) span:nth-of-type(3) {
  float: right;
  margin-top: -0.13333rem;
  margin-right: 0.4rem;
  font-size: 0.34667rem;
}

.top,
.buttom {
  position: absolute;
  width: 100%;
  height: 1.33333rem;
  line-height: 1.33333rem;
  text-align: center;
  background: cadetblue;
  color: cornsilk;
}

.top {
  top: -1.33333rem;
}
